This is a simple form
<form action="/submit" method="POST">
  <input type="text" name="model[email]" value="Enter email" />
  <input type="text" name="model[name]" value="Name" />
  <input type="submit" value="Submit" />
</form>